body {
  background: #fff;
  /*font-family: 'Poppins', sans-serif;*/
  margin: 0;
  padding: 0;
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 20px auto;
  border-radius: 5px;
}

.ticket .stub, .ticket .check {
  border-radius: 5px;
  box-sizing: border-box;
}

.stub {
  background: #55C940;
  height: 250px;
  width: 250px;
  color: white;
  padding: 20px;
  position: relative;
}

.stub:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #fff;
  border-left: 20px solid #55C940;
  width: 0;
}

.stub:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #fff;
  border-left: 20px solid #55C940;
  width: 0;
}

.stub .qr {
  width: 120px;
  height: 120px;
  margin: 40px auto;
}

.stub .qr img {
  width: 100%;
}

.check {
  background: #f9f9f9;
  height: 250px;
  width: 450px;
  padding: 40px;
  position: relative;
}

.check:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid #f9f9f9;
  width: 0;
}

.check:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #f9f9f9;
  width: 0;
}

.check .big {
  font-size: 30px;
  font-weight: 900;
  line-height: 1em;
  margin-top: 12px;
}

.check .number {
  position: absolute;
  top: 16px;
  color: #55C940;
  font-size: 16px;
}

.check .info {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
}

.check .info section {
  margin-right: 25px;
}

.check .info section:before {
  content: '';
  background: #55C940;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}

.check .info section .title {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}
/*# sourceMappingURL=pdf.css.map */
