@charset "UTF-8";
.filterDiv {
  display: none;
}

.show {
  display: block;
}

body {
  font-family: "Poppins", "sans-serif";
}

.page-content {
  min-height: 62vh;
}

h1 {
  font-weight: 800;
  font-size: 35px;
  color: #02020C;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: #02020C;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  color: #02020C;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  color: #7E7D83;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  color: #02020C;
}

h6 {
  font-weight: 800;
  font-size: 14px;
  color: #7E7D83;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #7E7D83;
}

a {
  text-decoration: none;
  outline: 0;
  color: #7E7D83;
}

a:hover {
  text-decoration: none;
  color: #55C940;
}

.tox-tinymce {
  width: 100% !important;
}

.cropit-preview {
  width: 450px !important;
  height: 450px !important;
  margin: 35px auto !important;
}

.btn {
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 255, 21, 0.25);
}

.btn:hover, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  box-shadow: 0;
  border: 0;
}

.btn-primary {
  background-color: #55C940;
  color: #fff;
  border: 0;
}

.btn-primary:hover {
  background-color: #4cc237;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #55C940;
  color: #fff;
  border: 0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active.focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled).active.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-primary:focus, .btn-primary.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-secondary {
  background-color: #fff;
  color: #55C940;
  border: 0;
}

.btn-secondary:hover {
  background-color: rgba(84, 201, 64, 0.15);
  color: #55C940;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #fff;
  color: #55C940;
  border: 0;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled):active.focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled).active.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-secondary:focus, .btn-secondary.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-tertiary {
  color: #414141;
  background-color: #F9F9F9;
  border: 0;
  font-size: 14px;
}

.btn-tertiary:hover {
  color: #414141;
  background-color: #eeeeee;
}

.btn-tertiary:not(:disabled):not(.disabled):active, .btn-tertiary:not(:disabled):not(.disabled).active {
  color: #55C940;
  background-color: rgba(84, 201, 64, 0.15);
  border: 0;
}

.btn-tertiary:not(:disabled):not(.disabled):active:focus, .btn-tertiary:not(:disabled):not(.disabled):active.focus, .btn-tertiary:not(:disabled):not(.disabled).active:focus, .btn-tertiary:not(:disabled):not(.disabled).active.focus {
  outline: 0;
  box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
}

.btn-tertiary:focus, .btn-tertiary.focus {
  outline: 0;
  box-shadow: 0px 3px 8px #00000024;
}

.btn-social {
  border: 0;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.btn-social:hover {
  color: #fff;
}

.btn-g {
  background-color: #f1584d;
}

.btn-f {
  background-color: #3b5998;
}

.form-control {
  box-shadow: 0px 2px 6px #00000024;
  border-radius: 12px;
  color: #7E7D83;
  padding: 17px 35px;
  font-size: 16px;
  height: auto;
  border: 0;
}

.form-control:focus, .form-control.focus {
  outline: 0;
  box-shadow: 0px 3px 8px #00000024;
}

.event .note-editor {
  box-shadow: 0px 2px 6px #00000024;
  border-radius: 12px;
  color: #7E7D83;
  padding: 17px 20px;
  border: 0 !important;
  margin-bottom: 15px;
}

.accordion .card {
  border: 0;
}

.accordion .card .card-header {
  border-bottom: 1px solid #ffffff;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #00000010;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar .navbar-brand {
  color: #55C940;
  font-weight: 800;
  font-size: 24px;
}

.navbar .navbar-nav .nav-item {
  font-weight: 600;
  margin-left: 40px;
}

.navbar .navbar-nav .nav-item .cart-dropdown .cart-menu {
  border: 0;
  padding: 20px;
  margin: 6px 0px;
  font-size: 14px;
  box-shadow: 0px 0px 5px #00000024;
  min-width: 24rem;
}

.navbar .navbar-nav .nav-item .user-profile {
  min-width: 250px;
}

.navbar .navbar-nav .nav-item .user-profile .dropdown .dropdown-menu {
  min-width: 16rem;
  border: 0;
  margin: 7px 0px;
  box-shadow: 0px 0px 5px #00000024;
}

.navbar .navbar-nav .nav-item .user-profile .dropdown .dropdown-menu .dropdown-item {
  font-size: 16px;
  padding: 15px 30px;
}

.navbar .navbar-nav .nav-item .user-profile .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #55C940;
}

.navbar .navbar-nav .nav-item .user-profile .dropdown .image {
  width: 60px;
  height: 60px;
  border: 1px solid #F9F9F9;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 20px 5px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #02020C;
}

.navbar .navbar-nav .nav-item .nav-link .badge-primary {
  background: #55C940;
  padding: 4px 7px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.ml-glider {
  margin-left: 9vw;
}

.glider-contain {
  max-width: 1380px;
}

.glider-contain .glider-next {
  position: absolute;
  left: auto;
  right: 10%;
  top: -50px;
  outline: 0;
  font-size: 25px;
}

.glider-contain .glider-prev {
  position: absolute;
  left: auto;
  right: 13%;
  top: -50px;
  outline: 0;
  font-size: 25px;
}

.glider-contain .disable {
  color: #ffffff;
}

.date {
  background-color: #55C940;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  padding: 5px 12px;
  border-radius: 4px;
}

.events a .card {
  border: 0;
  border-radius: 10px;
  background-color: #F9F9F9;
  overflow: hidden;
  /* .card-img-top{
                min-height: 120px;
                max-height: 170px;
                overflow: hidden;
            } */
}

.events a .card .card-body .date {
  font-size: 12px;
  margin-top: -40px;
  position: absolute;
}

.events a .card .card-body .card-title,
.events a .card .card-body .card-text {
  padding-top: 10px;
}

.events a:hover .card {
  box-shadow: 0px 6px 12px #00000024;
  background-color: #fff;
}

.event-category .category {
  height: 130px;
  background-image: linear-gradient(to bottom right, rgba(84, 201, 64, 0.88), rgba(84, 201, 64, 0.88)), url(../img/esp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  border-radius: 10px;
  margin-right: 20px;
}

.event-category .category .text {
  color: #fff;
  padding-left: 20px;
}

.event-category .deporte, .event-category .Deporte {
  background-image: linear-gradient(to bottom right, rgba(84, 201, 64, 0.88), rgba(84, 201, 64, 0.88)), url(../img/sports.jpg);
}

.event-category .teatro, .event-category .Teatro, .event-category .teatros, .event-category .Teatros {
  background-image: linear-gradient(to bottom right, #f515b9e0, #f515b9e0), url(../img/theater.jpg);
}

.event-category .cine, .event-category .Cine {
  background-image: linear-gradient(to bottom right, #ffc400e6, #ffc400e6), url(../img/cine.jpg);
}

.event-category .curso, .event-category .cursos, .event-category .Curso, .event-category .Cursos {
  background-image: linear-gradient(to bottom right, #2316cfbf, #2316cfbf), url(../img/cursos.jpeg);
}

.event-category .concierto, .event-category .Concierto, .event-category .conciertos, .event-category .Conciertos {
  background-image: linear-gradient(to bottom right, #a118c9d9, #a118c9d9), url(../img/concert.jpg);
}

.event-category .online, .event-category .Online {
  background-image: linear-gradient(to bottom right, #00ff3cd4, #00ff3cd4), url(../img/online.jpg);
}

.event-category .tecnología, .event-category .Tecnología {
  background-image: linear-gradient(to bottom right, #0073ffd4, #0073ffd4), url(../img/tech.jpg);
}

.pt-5 {
  padding-top: 60px !important;
}

.pb-5 {
  padding-bottom: 60px !important;
}

.mb-5 {
  margin-bottom: 110px !important;
}

.mt-5 {
  margin-top: 110px !important;
}

.search {
  margin-left: -20px;
}

.search .twitter-typeahead {
  display: initial !important;
}

.search .twitter-typeahead .tt-menu {
  width: 100%;
  top: initial !important;
  padding: 15px;
  box-shadow: 0px 2px 6px #00000024;
  z-index: 200 !important;
  background-color: #fff;
  border-radius: 12px;
}

.search .twitter-typeahead .list-group-item {
  margin-top: 15px;
  text-align: left;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #F9F9F9;
}

.search input {
  width: 90%;
  padding: 15px 60px;
  border: 0;
  box-shadow: 0px 2px 6px #00000024;
  border-radius: 12px;
  z-index: 300;
}

.search input:focus, .search input.focus {
  outline: 0;
  box-shadow: 0px 3px 8px #00000024;
}

.search .icon {
  position: relative;
  height: 20px;
  width: 20px;
  left: 45px;
  font-size: 16px;
  color: #7E7D83;
  top: 14px;
}

.breadcrumb {
  background-color: #F9F9F9;
  padding: 1rem 2.5rem;
  margin-bottom: 25px;
}

.breadcrumb a {
  color: #55C940;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.progress {
  height: 6px;
  background-color: #F9F9F9;
  border-radius: 12px;
}

.bg-primary {
  background-color: #55C940 !important;
}

.alert-success {
  background-color: rgba(84, 201, 64, 0.15);
  font-size: 18px;
  font-weight: 600;
  color: #55C940;
  margin-bottom: 30px;
  border: none;
}

.text-primary {
  color: #55C940 !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #55c940;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #55c940;
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  box-shadow: none;
}

.label {
  color: #7E7D83;
  font-size: 14px;
  margin-top: 5px;
}

.tags {
  padding: 10px 20px;
  background-color: #F9F9F9;
  color: #7E7D83;
  font-size: 14px;
  font-weight: 400;
}

.tags .md {
  margin-bottom: -2px;
  margin-left: 15px;
}

.shart .icon {
  background-color: #F9F9F9;
  font-size: 18px;
  color: #02020C;
  padding: 15px 0px;
  border-radius: 50%;
  margin-right: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.event-public .cover-event {
  /* min-height: 300px;
        max-height: 440px;
        overflow: hidden; */
  border-radius: 8px;
}

.event-public .cover-event img {
  width: 100%;
}

.profile .nav {
  background-color: #F9F9F9;
}

.profile .nav .nav-item {
  border-bottom: 2px solid transparent;
}

.profile .nav .nav-item .nav-link {
  padding: 15px 30px;
  color: #7E7D83;
}

.profile .nav .nav-item .active {
  font-weight: 600;
  color: #02020C;
  border-bottom: 2px solid #55C940;
}

.profile .profile-img {
  width: 170px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
}

.profile .profile-img img {
  width: 100%;
}

.organizer .status {
  padding: 25px;
  box-shadow: 0px 2px 10px #00000010;
  border-radius: 10px;
}

.organizer .btn-danger {
  font-size: 14px;
}

.organizer .sale {
  margin-top: 60px;
}

.organizer .sale .card-sale {
  margin-top: 25px;
  padding: 25px;
  box-shadow: 0px 2px 10px #00000010;
  border-radius: 10px;
}

.organizer .sale .card-sale .header-sale {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.organizer .sale .card-sale .header-sale img {
  max-width: 70px;
}

.organizer .sale .card-sale .header-sale h5 {
  margin-left: 10px;
}

.organizer .sale .card-sale .body-sale {
  border-top: 1px solid #F9F9F9;
  padding-top: 10px;
  padding-bottom: 30px;
}

.organizer .sale .card-sale .footer-sale {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #F9F9F9;
  padding-top: 20px;
}

.organizer .sale .sale-cupon {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  border: 1px dashed #55C940;
}

.organizer .sale .sale-cupon p {
  font-size: 12px;
}

.organizer .sale .sale-cupon h2 {
  color: #55C940;
}

.organizer .pagination {
  border: 1px solid #F9F9F9;
  font-size: 14px;
}

.organizer .pagination .page-item .page-link {
  color: #55C940;
}

.organizer .pagination .disabled .page-link {
  color: #bcbcbc;
}

.organizer .pagination .active .page-link {
  background-color: #55C940;
  border: 1px solid #55C940;
  color: #fff;
}

.organizer .list-event {
  margin-top: 60px;
}

.organizer .list-event img {
  border-radius: 5px;
}

.organizer .list-event table .thead-event {
  font-size: 14px;
  text-align: center;
  background-color: #F9F9F9;
}

.organizer .list-event table .thead-event th {
  border: 0;
  padding: 20px;
  font-weight: 400;
}

.organizer .list-event table tbody tr td {
  text-align: center;
  padding: 10px 15px;
  vertical-align: middle;
  border-top: 1px solid #F9F9F9;
}

.organizer .list-event table tbody tr .avatar-event {
  min-width: 70px;
  max-width: 80px;
}

.history {
  padding: 30px;
  box-shadow: 0px 2px 6px #00000024;
  border-radius: 12px;
}

.ticket {
  padding: 30px;
  box-shadow: 0px 2px 6px #00000024;
  border-radius: 12px;
  margin-bottom: 30px;
}

.ticket .ticket-content {
  padding-bottom: 20px;
  border-bottom: 1px dashed #55c940;
}

.ticket .ticket-content p {
  font-size: 14px;
  margin-bottom: 6px;
}

.ticket .ticket-qr {
  padding-top: 20px;
  width: 110px;
  margin: 0 auto;
}

.ticket .ticket-qr .qr {
  width: 100%;
}

.cart .cupon {
  color: #b10f0a;
  font-size: 12px;
}

.cart .cupon-canje .cupon {
  color: #b10f0a;
  font-size: 16px;
}

.cart ul {
  list-style: none;
  padding-left: 0;
}

.cart ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #00000024;
}

.cart ul li img {
  border-radius: 4px;
}

.cart ul li .btn-primary {
  font-size: 12px;
  width: 100%;
}

.cart ul li span {
  font-size: 14px;
  color: #7E7D83;
}

.cart ul li span b {
  color: #02020C;
}

.cart ul li .price-old {
  text-decoration: line-through;
  font-size: 12px;
}

.cart ul li .icon-cart {
  color: #55C940;
  font-size: 18px;
}

.cart .accordion .card {
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #00000024;
}

.cart .accordion .card .card-header {
  border-radius: 0;
  background-color: #F9F9F9;
  padding: 20px 25px;
  border-bottom: 0;
}

.cart .form-control {
  padding: 10px 8px 10px 20px;
  box-shadow: 0px 0px 4px #00000024;
}

footer p, footer a {
  color: #02020C;
  font-size: 14px;
  margin-bottom: 0;
}

footer .icon {
  margin-left: 25px;
}

footer p a {
  color: #55C940;
  font-weight: 600;
}

footer p:hover {
  color: #02020C;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  text-align: center;
}

.cssload-container {
  width: 100%;
  height: 55px;
  text-align: center;
  margin-top: 40vh;
  color: #fff;
}

@keyframes load {
  0% {
    opacity: 0.2;
    filter: blur(1px);
    letter-spacing: 1px;
  }
}

.animate {
  color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  font-family: "Read", "sans-serif";
  font-weight: 400;
}

.animate img {
  width: 80px;
  margin-top: -32px;
  opacity: 0.75;
}

@media (max-width: 1199.98px) {
  .ml-glider {
    margin-left: 5vw;
  }
  .glider-contain .glider-slide {
    min-width: 240px;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 0;
  }
  .glider-contain .glider-slide {
    min-width: 340px;
  }
  .glider-contain .glider-next {
    right: 5%;
  }
  .custom-checkbox {
    display: inline-block;
    margin-right: 20px;
  }
  .custom-checkbox:last-child {
    margin-right: 0;
  }
  .search-events .collapse {
    background-color: #F9F9F9;
    padding: 20px 30px;
    border-radius: 6px;
  }
}

@media (max-width: 576px) {
  .cropit-preview {
    width: 310px !important;
    height: 310px !important;
  }
  .glider-contain .glider-slide {
    min-width: 250px;
  }
  .navbar {
    padding: 20px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 30px 10px;
  }
  .navbar .navbar-nav .nav-item .cart-dropdown .cart-menu {
    min-width: 20rem;
  }
  .profile .nav {
    display: flex;
    flex-direction: column;
  }
  .profile .nav .nav-item {
    max-width: 90%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .profile .nav .nav-item .nav-link {
    padding: 25px;
  }
  .organizer .status {
    margin-bottom: 25px;
  }
  .organizer .sale .card-sale {
    margin-bottom: 25px;
  }
  .organizer .list-event {
    margin-top: 50px;
  }
  .organizer .list-event table tbody tr .avatar-event {
    padding: 5px;
    min-width: 70px;
    max-width: 80px;
  }
  footer .icon:first-child {
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */