body {
    font-family: $font;
}
.page-content{
    min-height: 62vh
}
h1 {
    font-weight: 800;
    font-size: 35px;
    color: $secondary;
}
h2 {
    font-weight: 600;
    font-size: 24px;
    color: $secondary;
}
h3 {
    font-weight: 600;
    font-size: 20px;
    color: $secondary;
}
h4 {
    font-weight: 400;
    font-size: 18px;
    color: $tertiary;
}
h5 {
    font-weight: 600;
    font-size: 16px;
    color: $secondary;
}
h6 {
    font-weight: 800;
    font-size: 14px;
    color: $tertiary;
}
p {
    font-weight: 400;
    font-size: 14px;
    color: $tertiary;
}
a {
    text-decoration: none;
    outline: 0;
    color: $tertiary;
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}

.tox-tinymce{
    width: 100% !important;
}
.cropit-preview {
    width: 450px !important;
    height: 450px !important;
    margin: 35px auto !important;
}

.btn {
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0 0 0 0.1rem rgba(0, 255, 21, 0.25);
    }
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        box-shadow: 0;
        border: 0;
    }
}
.btn-primary {
    background-color: $primary;
    color: #fff;
    border: 0;
    &:hover {
        background-color: rgb(76, 194, 55);
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: $primary;
        color: #fff;
        border: 0;
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
        }
    }
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
    }
}
.btn-secondary {
    background-color: #fff;
    color: $primary;
    border: 0;
    &:hover {
        background-color: rgba(84, 201, 64, 0.15);
        color: $primary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: #fff;
        color: $primary;
        border: 0;
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
        }
    }
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
    }
}
.btn-tertiary {
    color: #414141;
    background-color: $gray;
    border: 0;
    font-size: 14px;
    &:hover {
        color: #414141;
        background-color: #eeeeee;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: $primary;
        background-color: rgba(84, 201, 64, 0.15);
        border: 0;
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0px 3px 8px rgba(84, 201, 64, 0.15);
        }
    }
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0px 3px 8px #00000024;
    }
}
.btn-social {
    border: 0;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    &:hover {
        color: #fff;
    }
}
.btn-g {
    background-color: #f1584d;
}
.btn-f {
    background-color: #3b5998;
}
.form-control {
    box-shadow: 0px 2px 6px #00000024;
    border-radius: 12px;
    color: $tertiary;
    padding: 17px 35px;
    font-size: 16px;
    height: auto;
    border: 0;
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0px 3px 8px #00000024;
    }
}
.event{
    .note-editor{
        box-shadow: 0px 2px 6px #00000024;
        border-radius: 12px;
        color: $tertiary;
        padding: 17px 20px;
        border: 0 !important;
        margin-bottom: 15px;
    }
}
.accordion {
    .card{
        border: 0;
        .card-header{
            border-bottom: 1px solid #ffffff;
        }
    }
}
.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #00000010;
    padding-top: 16px;
    padding-bottom: 16px;
    .navbar-brand {
        color: $primary;
        font-weight: 800;
        font-size: 24px;
    }
    .navbar-nav {
        .nav-item {
            font-weight: 600;
            margin-left: 40px;
            .cart-dropdown{
                .cart-menu{
                    border: 0;
                    padding: 20px;
                    margin: 6px 0px;
                    font-size: 14px;
                    box-shadow: 0px 0px 5px #00000024;
                    min-width: 24rem;
                }
            }
            .user-profile{
                min-width: 250px;
                .dropdown{
                    .dropdown-menu{
                        min-width: 16rem;
                        border: 0;
                        margin: 7px 0px;
                        box-shadow: 0px 0px 5px #00000024;
                        .dropdown-item{
                            font-size: 16px;
                            padding: 15px 30px;
                            &:focus{
                                background-color: $primary;
                            }
                        }
                    }
                    .image{
                        width: 60px;
                        height: 60px;
                        border: 1px solid $gray;
                        border-radius: 50%;
                        overflow: hidden;
                        display: inline-block;
                    }
                }
            }
            .nav-link {
                padding: 20px 5px;
                &:hover {
                    color: $secondary;
                }
                .badge-primary{
                    background: $primary;
                    padding: 4px 7px;
                    border-radius: 6px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
.ml-glider {
    margin-left: 9vw;
}
.glider-contain{
        max-width: 1380px;
        .glider-next{
            position: absolute;
            left: auto;
            right: 10%;
            top: -50px;
            outline: 0;
            font-size: 25px;
        }
        .glider-prev{
            position: absolute;
            left: auto;
            right: 13%;
            top: -50px;
            outline: 0;
            font-size: 25px;
        }
        .disable {
            color: #ffffff;
        }
}
.date {
    background-color: $primary;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 5px 12px;
    border-radius: 4px;
}
.events {
    a {
        .card {
            border: 0;
            border-radius: 10px;
            background-color: $gray;
            overflow: hidden;
            /* .card-img-top{
                min-height: 120px;
                max-height: 170px;
                overflow: hidden;
            } */
            .card-body {
                .date {
                    font-size: 12px;
                    margin-top: -40px;
                    position: absolute;
                }
                .card-title,
                .card-text {
                    padding-top: 10px;
                }
            }
        }
        &:hover {
            .card {
                box-shadow: 0px 6px 12px #00000024;
                background-color: #fff;
            }
        }
    }
}

.event-category {
    .category{
        height: 130px;
        background-image: linear-gradient(to bottom right,rgba(84, 201, 64, 0.88),rgba(84, 201, 64, 0.88)), url(../img/esp.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: normal;
        border-radius: 10px;
        margin-right: 20px;
        .text {
            color: #fff;
            padding-left: 20px;
        }
    }
    .deporte, .Deporte{
        background-image: linear-gradient(to bottom right, rgba(84, 201, 64, 0.88), rgba(84, 201, 64, 0.88)), url(../img/sports.jpg);
    }
    .teatro, .Teatro, .teatros, .Teatros{
        background-image: linear-gradient(to bottom right, #f515b9e0, #f515b9e0), url(../img/theater.jpg);
    }
    .cine, .Cine{
        background-image: linear-gradient(to bottom right, #ffc400e6, #ffc400e6), url(../img/cine.jpg);
    }
    .curso, .cursos, .Curso, .Cursos{
        background-image: linear-gradient(to bottom right, #2316cfbf, #2316cfbf), url(../img/cursos.jpeg);
    }
    .concierto, .Concierto, .conciertos, .Conciertos{
        background-image: linear-gradient(to bottom right, #a118c9d9, #a118c9d9), url(../img/concert.jpg);
    }
    .online, .Online{
        background-image: linear-gradient(to bottom right, #00ff3cd4, #00ff3cd4), url(../img/online.jpg);
    }
    .tecnología, .Tecnología{
        background-image: linear-gradient(to bottom right, #0073ffd4, #0073ffd4), url(../img/tech.jpg);
    }
}

.pt-5 {
    padding-top: 60px !important;
}
.pb-5 {
    padding-bottom: 60px !important;
}
.mb-5 {
    margin-bottom: 110px !important;
}
.mt-5 {
    margin-top: 110px !important;
}

.search {
    margin-left: -20px;
    .twitter-typeahead{
        display: initial !important;
        .tt-menu{
            width: 100%;
            top: initial !important;
            padding: 15px;
            box-shadow: 0px 2px 6px #00000024;
            z-index: 200 !important;
            background-color: #fff;
            border-radius: 12px;
        }
        .list-group-item{
            margin-top: 15px;
            text-align: left;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid $gray;
        }
    }
    input {
        width: 90%;
        padding: 15px 60px;
        border: 0;
        box-shadow: 0px 2px 6px #00000024;
        border-radius: 12px;
        z-index: 300;
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0px 3px 8px #00000024;
        }
    }
    .icon {
        position: relative;
        height: 20px;
        width: 20px;
        left: 45px;
        font-size: 16px;
        color: $tertiary;
        top: 14px;
    }
}
.breadcrumb{
    background-color: $gray;
    padding: 1rem 2.5rem;
    margin-bottom: 25px;
    a{
        color: $primary;
        &:hover{
            text-decoration: underline;
        }
    }
}
.progress {
    height: 6px;
    background-color: $gray;
    border-radius: 12px;
}
.bg-primary {
    background-color: $primary !important;
}
.alert-success {
    background-color: rgba(84, 201, 64, 0.15);
    font-size: 18px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 30px;
    border: none;
}
.text-primary {
    color: $primary !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #55c940;
}
.custom-checkbox{
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #55c940;
        box-shadow: none;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
        box-shadow: none;
    }
} 
.label {
    color: $tertiary;
    font-size: 14px;
    margin-top:5px;
}
.tags {
    padding: 10px 20px;
    background-color: $gray;
    color: $tertiary;
    font-size: 14px;
    font-weight: 400;
    .md {
        margin-bottom: -2px;
        margin-left: 15px;
    }
}
.shart {
    .icon {
        background-color: $gray;
        font-size: 18px;
        color: $secondary;    
        padding: 15px 0px;
        border-radius: 50%;
        margin-right: 8px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
}
.event-public{
    .cover-event{
        /* min-height: 300px;
        max-height: 440px;
        overflow: hidden; */
        border-radius: 8px;
        img{
            width: 100%;
        }
    }
}
.profile {
    .nav {
        background-color: $gray;
        .nav-item {
            border-bottom: 2px solid transparent;
            .nav-link {
                padding: 15px 30px;
                color: $tertiary;
            }
            .active {
                font-weight: 600;
                color: $secondary;
                border-bottom: 2px solid $primary;
            }
        }
    }
    .profile-img {
        width: 170px;
        border-radius: 50%;
        box-shadow: 0px 3px 6px #00000029;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
.organizer {
    .status{
        padding: 25px;
        box-shadow: 0px 2px 10px #00000010;
        border-radius: 10px;
    }
    .btn-danger{
        font-size: 14px;
    }
    .sale{
        margin-top: 60px;
        .card-sale{
            margin-top: 25px;
            padding: 25px;
            box-shadow: 0px 2px 10px #00000010;
            border-radius: 10px;
            .header-sale{
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                img{
                    max-width: 70px;
                }
                h5{
                    margin-left: 10px;
                }
            }
            .body-sale{
                border-top: 1px solid $gray;
                padding-top: 10px;
                padding-bottom: 30px;
            }
            .footer-sale{
                display: flex;
                justify-content: flex-end;
                border-top: 1px solid $gray;
                padding-top: 20px;
            }
        }
        .sale-cupon{
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 15px;
            border: 1px dashed $primary;
            p{
                font-size: 12px;
            }
            h2{
                color: $primary;
            }
        }
    }
    .pagination{
        border: 1px solid $gray;
        font-size: 14px;
        .page-item{
            .page-link{
                color: $primary;
            }
        }
        .disabled{
            .page-link{
                color: $gray2;
            }
        }
        .active{
            .page-link{
                background-color: $primary;
                border: 1px solid $primary;
                color: #fff;
            }
        }
    }
    .list-event{
        margin-top: 60px;
        img{
            border-radius: 5px;
        }
        table{ 
            .thead-event{
                font-size: 14px;
                text-align: center;
                background-color: $gray;
                th{
                    border: 0;
                    padding: 20px;
                    font-weight: 400;
                }
            }
            tbody{
                tr{
                    td{
                        text-align: center;
                        padding: 10px 15px;
                        vertical-align: middle;
                        border-top: 1px solid $gray;
                    }
                    .avatar-event{
                        min-width: 70px;
                        max-width: 80px;
                    }
                }
            }
        }
    }
}
.history{
    padding: 30px;
    box-shadow: 0px 2px 6px #00000024;
    border-radius: 12px;    
}
.ticket {
    padding: 30px;
    box-shadow: 0px 2px 6px #00000024;
    border-radius: 12px;
    margin-bottom: 30px;
    .ticket-content {
        padding-bottom: 20px;
        border-bottom: 1px dashed #55c940;
        p {
            font-size: 14px;
            margin-bottom: 6px;
        }
    }
    .ticket-qr {
        padding-top: 20px;
        width: 110px;
        margin: 0 auto;
        .qr {
            width: 100%;
        }
    }
}
.cart{
    .cupon{
        color: #b10f0a;
        font-size: 12px;
    }
    .cupon-canje{
        .cupon{
            color: #b10f0a;
            font-size: 16px;
        }
    }
    ul{
        list-style: none;
        padding-left: 0;
        li{
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #00000024;
            img{
                border-radius: 4px;
            }
            .btn-primary{
                font-size: 12px;
                width: 100%;
            }
            span{
                font-size: 14px;
                color: $tertiary;
                b{
                    color: $secondary;
                }
            }
            .price-old{
                text-decoration: line-through;
                font-size: 12px;
            }
            .icon-cart{
                color: $primary;
                font-size: 18px;
            }
        }
    }
    .accordion{
        .card{
            border: 0;
            border-radius: 10px;
            box-shadow: 0px 0px 2px #00000024;
            .card-header{
                border-radius: 0;
                background-color: $gray;
                padding: 20px 25px;
                border-bottom: 0;
            }
        }
    }
    .form-control{
        padding: 10px 8px 10px 20px;
        box-shadow: 0px 0px 4px #00000024;
    }
}
footer{
    p, a{
        color: $secondary;
        font-size: 14px;
        margin-bottom: 0;
    }
    .icon{
        margin-left: 25px;
    }
    p{
        a{
            color: $primary;
            font-weight: 600;
        }
        &:hover{
            color: $secondary
        }
    }
}